* {
	box-sizing: border-box;
}
body {
	background-color: #001a33;
	font-size: 15px;
	color: white;
	font-family: 'Playfair Display', serif;
}
@media only screen and (max-width: 600px) {
	body {
		font-size: 70%;
	}
}
header {
	color: white;
	background-color: black;
	margin-bottom: 5px;
}
footer {
	color: white;
	background-color: black;
	margin-bottom: 5px;
}
.navbar {
	padding-left: 0;
	padding-right: 0;
	overflow: auto;
}
.border {
    border: 1px solid gray !important;
}
a {
	color: white;
}
a:hover {
	color: red;
}
.full-width {
    width: 100%;
}
.center {
    text-align: center;
}
.big-picture {
	height: 400px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.guild-info {
	height: 600px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
	overflow: auto;
}
.guildbannertext {
	padding: 10px;
}
.banner {
	height: 150px;	
	background-image: url('images/org2.png');
	background-size: cover;
}
.wcl-banner {
	height: 99px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url('images/wclbanner2.png');
	background-size: cover;

}
.mainbox {
	background-color: #050505;
	padding-top: 10px;
	
}
.recruitment {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
}
.recruitment-text {
	margin: 10px;
	height: 700px;
	overflow: auto;
}
.class-icon {
	max-height: 100%;
	max-width: 100%;
	width:150px;
	height:150px;
	background-size: cover;
}
.left {
	float: left;
}
.class-recruitment {
	margin: 10px;
	height: 200px;
}
.wcl {
	height: 600px;
}
.contact {
	height: 1080px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
	overflow: auto;
}
.discord {
	height: 150px;
}
.gallery {
	margin-top: 10px;
	margin-bottom: 10px;
}
